.affiliate-commission{
    color: var(--color-44BC9D);
}
.affiliate-commission span{
    color: var(--color-black);
}
.copy-link-btn{
    border: 1px solid var(--color-44BC9D);
    color: var(--color-44BC9D);
    padding: 6px;
    width: 100%;
    background: none;
    margin-top: 8px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
}
.copy-link-btn:focus{
    border: 1px solid var(--color-44BC9D) !important;
    content: none;
}
.copy-link-btn:focus::before {
    content: "✔  ";
}
.copy-link-btn:hover{
    color: var(--color-white);
    background: var(--color-44BC9D);
    border: 1px solid var(--color-44BC9D) !important;
}
.grid-list-toggol-btn{
    border: 1px solid var(--color-44BC9D) !important;
    color: var(--color-44BC9D) !important;
    background: none !important;
}
.grid-list-toggol-btn-group .active-btn{
    color: var(--color-white) !important;
    background: var(--color-44BC9D) !important;
}
.affiliate-products-search{
    max-width: 200px !important;
    min-width: 100px;
}
.affiliate-products-search button{
    color: var(--color-white);
    background: var(--color-44BC9D);
}
.product-discount-price {
    color: var(--color-9f9f9f) !important;
    font-size: 18px !important;
}
.affiliate-rank-btn{
    font-size: 12px !important;
    font-weight: 400 !important;
    padding: 6px !important;
    border: none;
}
.affiliate-product-list-item{
    padding: 16px !important;
    height: 100%;
    min-height: auto !important;
}
.affiliate-product-list-item:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}
.affiliate-product-list-item .add-to-cart-btn-w{
    min-width: 90px;
}


/* container booking section */
.container-booking-body-tab{
    padding: 24px;
}

.container-booking-section-headr{
    background: var(--color-C5EEE3);
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 600;
}
.container-booking-section-headr-left table td{
    padding-top: 6px;
}
.container-booking-banner img{
    height: 125px;
}
.container-booking-date-section{
    background: var(--color-F5F5F5);
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
}
.container-booking-oder-table h3{
    background: var(--color-F5F5F5);
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
}
.container-booking-oder-table{
    border: 1px solid var(--color-F5F5F5);
    border-radius: 8px;
}
.container-booking-oder-table table{
    overflow: hidden;
}
.container-booking-oder-amount-table{
    margin-bottom: 0;
}
.container-booking-oder-amount-table td{
    padding: 4px !important;
}
.container-booking-quantity-area{
    min-width: 80px !important;
    max-width: 100px !important;
}
.selected-container-item {
    border: 1px solid var(--color-44BC9D) !important; /* Blue border color */
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.4) !important; /* Box shadow */
    transition: border 0.3s ease, box-shadow 0.3s ease !important;
}
