.cart-section-area {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Left Side css */
.cart-top-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10px;
    border: 1px solid var(--color-D8D8D8);
    border-radius: 12px;
}
.cart-top-remove-btn button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #ff3535;
}
.product-cart-details-continer tr {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px !important;
    overflow: hidden !important;
    background: var(--color-white);
}
.product-cart-details-continer tr td {
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}
.product-cart-details-area {
    padding-top: 32px;
}
/* .product-cart-details-continer{
    display: flex;
    flex-direction: column;
    gap: 20px;
} */
.product-cart-details {
    display: flex;
    column-gap: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
}
.cart-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-D8D8D8);
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}

.cart-checkbox:checked {
    background-color: var(--color-1A9D78);
    border: none;
}

.cart-checkbox:checked::before {
    content: "\2713";
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
.product-cart-info-continer {
    display: flex;
    align-items: center;
    gap: 28px;
}
.product-cart-details-item {
    box-shadow: var(--color-D8D8D8) 0px 2px 6px;
    margin: 6px;
    border-radius: 12px;
    overflow: hidden;
    padding: 6px;
}
.product-cart-product-img {
    height: 80px;
    width: 80px;
    position: relative;
}
.product-cart-product-img img {
    border-radius: 8px;
    object-fit: cover;
}
.product-cart-text {
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
    width: 320px;
}
.discount-code-img {
    position: relative;
    width: 35px;
    height: 30px;
}
.discount-code-img img {
    object-fit: cover;
}
.product-cart-price {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-1A9D78);
}

.quantity-area {
    border: 1px solid var(--color-D8D8D8);
    padding: 0px;
    border-radius: 12px;
    max-width: 140px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quantity-fild {
    border: none;
    min-width: 24px;
    color: var(--color-1A9D78);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.quantity-fild:focus {
    outline: none;
    border: none;
}
.quantity-decrease,
.quantity-increase {
    outline: none !important;
    border: none;
    color: var(--color-D8D8D8);
    font-size: 22px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.quantity-decrease:hover,
.quantity-increase:hover {
    color: var(--color-1A9D78);
}
.quantity-decrease:active,
.quantity-increase:active {
    outline: none !important;
    box-shadow: none;
    border: none;
}

.cart-prodect-variants {
    display: flex;
    gap: 8px;
    font-size: 12px;
    color: var(--color-414042);
}
.cart-prodect-variants-item {
    color: var(--color-1A9D78);
}

.product-cart-discount-price {
    color: var(--color-414042);
}

.product-cart-remov-btn {
    color: var(--color-dfdfdf);
    font-size: 16px;
    border: none;
    background: none;
}
.product-cart-remov-btn:hover {
    color: var(--color-1A9D78);
}

/* Right Side css*/
.promo-code-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-1A9D78);
    margin: 0;
}
.promo-code-input-area {
    margin-top: 16px;
    position: relative;
}
.promo-code-input-area input:focus {
    border: 1px solid var(--color-D8D8D8);
    border-radius: 0;
    outline: none;
}
.promo-code-input-area input {
    border: 1px solid var(--color-D8D8D8);
    padding: 8px;
    padding-right: 80px;
    padding-bottom: 5px;
}
.promo-code-input-area input:focus {
    box-shadow: none;
    border-radius: 0.375rem;
}
.promo-code-input-area button {
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

/* shopping-section */
.shopping-section {
    padding-top: 32px;
}

.shopping-info-area {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 18px 18px;
    border: 1px solid var(--color-D8D8D8);
    border-radius: 12px;
}
.shopping-info-area .shopping-title {
    font-size: 18px;
    font-weight: 600;
}
.shopping-price-area strong {
    color: var(--color-1A9D78);
    font-size: 16px;
}
.shopping-info-area .shopping-back-btn {
    text-align: center;
    color: var(--color-1A9D78);
}
.product-cart-details-continer .quantity-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 15px;
    padding-bottom: 4px;
}
@media (max-width: 1199px) {
    .product-cart-text {
        width: 200px;
    }
}
