.customer-setting{
    background: var(--color-white);
    border-radius: 6px;
}
.customer-setting-header{
    border-bottom: 1px solid var(--color-D8D8D8);
    padding: 24px;
}
.customer-setting-header .active{
    background: var(--color-44BC9D) !important;
}
.customer-setting-header .nav-link{
    color: var(--color-44BC9D);
    font-size: 16px;
    font-weight: 500;
    border-radius: 0;
    background: var(--color-F5F5F5);
}
.customer-setting-header .nav-link:hover{
    background: var(--color-C5EEE3);
}
.customer-setting-body{
    padding: 24px;
}
.customer-setting select:focus,
.customer-setting input:focus{
    box-shadow: none;
    border: 1px solid var(--color-D8D8D8);
}
.customer-setting ::placeholder{
    opacity: 50%;
    font-size: 14px;
}
input::placeholder{
    opacity: 30%;
    font-size: 14px;
}
.customer-setting .customer-setting-form-group{
    position: relative;
    padding-bottom: 1.5rem
}
.customer-setting .customer-setting-form-group input {
    padding-right: 45px;
}
.customer-setting .customer-setting-form-group input:focus {
    background: transparent;
}
.customer-setting .password-view-icon{
    position: absolute;
    right: 16px;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 18px;
}