.user-login-section {
    padding: 80px 0;
}

.user-login-area h1 {
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 700;
}

.user-login-area .form-control {
    height: 36px;
    line-height: 36px;
    color: var(--color-black);
    font-size: 14px;
    outline: 1px solid #44bc9d;
}

.user-login-area .form-control::placeholder {
    color: rgb(124, 124, 124);
    opacity: 1;
}

.user-login-area .form-control::-ms-input-placeholder {
    color: black;
}

.user-login-area .form-control:focus {
    box-shadow: none;
    border-color: #00ffbf;
}

.user-login-area .btn.btn-primary {
    background: var(--color-44BC9D);
    width: 100%;
    text-align: center;
    color: var(--color-white);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    transition: all 0.2s linear;
    border: none;
}

.user-login-area .btn.btn-primary:hover {
    background: var(--color-414042);
}

.user-social-login-item {
    gap: 15px;
}

.user-social-login-item button {
    border: none;
    outline: none;
    background: transparent;
    padding: 8px 30px;
    border-radius: 4px;
    text-align: center;
    color: var(--color-black);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    width: max-content;
    transition: all 0.2s linear;
    border: 1px solid var(--color-414042);
}
.user-social-login-item button img {
    margin-right: 10px;
}
.inner-field a,
.user-social-login a {
    color: var(--color-44BC9D);
    font-weight: 600;
}

.inner-field .form-check-label {
    cursor: pointer;
}

.user-login-form p a {
    color: var(--color-44BC9D);
}

.form-check-label {
    cursor: pointer;
}

.user-login-form label span {
    color: red;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    left: 10px;
}
.input-section {
    display: flex;
    flex-direction: column;
}
.input-wrapper input {
    padding-left: 35px;
    padding-right: 35px;
}
.icon-left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.icon-right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.login-logo {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.user-login-area {
    position: relative;
}
.logo-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-icon {
    position: absolute;
    top: 30px;
    right: 15px;
    transform: translate(0, -50%);
}
.close-logo {
    width: 30px;
    height: 30px;
    color: #44bc9d;
}
.user-login-area-container {
    min-width: 200px;
    max-width: 460px;
}
.circle-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: #44bc9d;
    clip-path: ellipse(50% 65% at 50% -5%);
    z-index: 0;
}
.clip-contain {
    position: relative;
    display: flex;
}
