.product-search-modal-area {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 1090 !important;
}
.product-search-modal-content {
    background: var(--color-white);
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
}
.search-modal-info ul li {
    padding: 4px 20px;
    transition: all 0.2s linear;
}
.search-modal-info ul li a {
    display: block;
    line-height: normal;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
}
.search-modal-info ul li a:hover{
    box-shadow: rgb(169,223,207) 0px 5px 15px;
}

.search-modal-info-img {
    width: 60px;
    height: 60px;
    position: relative;
}
.search-modal-info-img img {
    object-fit: fill;
}
.similer-search-product-list {
    padding-bottom: 15px;
}

.similer-search-product-list strong {
    color: var(--color-1A9D78);
    font-weight: 700;
    font-size: 16px;
}
