.withdraw-top-section{
    background-image: url(../images/Withdraw.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 32px;
    border-radius: 12px;
    color: var(--color-white);
}